.img-placeholder {
    height: 180px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.card {
    border: none;
    margin-bottom: 1rem;
}
.card-body {
    padding: 1.2rem 0rem;
}

.card-body h5 {
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.card-body p {
    text-transform: uppercase;
    font-size: 12px;
	color: #a5a5a5;
	letter-spacing: 1px;
}

.hover {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.hover .s-link {
	position: absolute;
    bottom: 0;
	width: 100%;
	opacity: 0;
	text-align: center;
	-webkit-transform: translateY(45%);
	-ms-transform: translateY(45%);
	transform: translateY(45%);
	-webkit-transition: all 0.3s 0.2s;
	transition: all 0.3s 0.2s;
    font-size: 24px;
}

.hover .desk {
	position: absolute;
	top: 0%;
	width: 100%;
	opacity: 0;
	-webkit-transform: translateY(-55%);
	-ms-transform: translateY(-55%);
	transform: translateY(-55%);
	-webkit-transition: all 0.3s 0.2s;
	transition: all 0.3s 0.2s;
	padding: 0 20px;
}

.desk,
.desk h4,
.hover .s-link a {
	text-align: center;
	color: #222;
}

.team-member .s-link a {
	margin: 0 10px;
	color: #333;
	font-size: 16px;
}
.team-member:hover .hover,
.team-member:hover .hover .desk,
.team-member:hover .hover .s-link {
	opacity: 1;
}
.team-member:hover .hover .s-link {
	bottom: 10%;
}
.team-member:hover .hover .desk {
	top: 50%;
}
.team-member:hover .hover .s-link {
	bottom: 10%;
}